# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
pXX/
pXX_abp_icp_pleth/
.vscode/
svm_miniset/